@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, monospace;
  /* Catppuccin Mocha color palette */
  --color-mocha-green: #a6e3a1;
  --color-mocha-text: #cdd6f4;
  --color-mocha-base: #1e1e2e;
  --color-mocha-crust: #11111b;
  --color-mocha-surface-0: #313244;
}

@layer utilities {
  .font-mono {
    font-variant-ligatures: none;
  }
}

@layer base {
  html {
    background-color: var(--color-mocha-crust);
  }

  body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  a,
  p {
    color: var(--color-mocha-text);
  }
}
